body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-delcy {
  font-family: 'Delcy', serif;
  font-weight: 200;
}

/* .font-Raleway{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
} */

.font-Raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Raleway-medium {
  font-weight: 500;
}

.Raleway-bold {
  font-weight: 700;
}

/* Custom scrollbar for modal */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 8px;
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}


