body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-delcy {
  font-family: 'Delcy', serif;
  font-weight: 200;
}

/* .font-Raleway{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
} */

.font-Raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Raleway-bold {
  font-weight: 700;
}

